<html>
<head>
<body>
    <div class="calculate">
        <h1>Calculate Average marks</h1>

        <!--main input for receiving query to our ML-->
        <form action="{{url_for('calculate')}}" method="post">
            <input type="text" name="maths" placeholder="maths" required="required"/>
            <input type="text" name="science" placeholder="science" required="required"/>
            <input type="text" name="history" placeholder="history" required="required"/>

            <button type="submit" class="btn btn primary btn calcualte">Calculate Button</button>
        </form>
    </div>
</body>
</head>
</html>